<div class="row">
  <div class="col-md-6">
    <div style='width: 100%;'>
      <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
    <div>
      <% if @results.first %>
        <input id="latResult" type="hidden" value="<%= @results.first.coordinates[0] %>">
        <input id="lngResult" type="hidden" value="<%= @results.first.coordinates[1] %>">
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <table id="busca" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th style="width: 20%">Nome</th>
          <th style="width: 80%">Endereço</th>
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |place| %>
          <tr>
            <td><%= place[:name] %></td>
            <td><%= place[:vicinity] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="text-center">
  <%= link_to 'Nova busca', root_path, :class => "btn btn-primary btn-lg", :style => "width: 300px;" %>
</div>

<br><br>
