<!DOCTYPE html>
<html>
  <head>
    <title>HomeAlone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuX_ege_IyTuxypkBHWpDd_jtQJsQfXTY&callback=initMap" async defer></script>
    <script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/c5d65821/markerclustererplus/src/markerclusterer.js"></script>
    <script src='https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/c5d65821/infobox/src/infobox_packed.js' type='text/javascript'></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/sl-1.2.6/datatables.min.js"></script>
    <script type="text/javascript">
      var table_busca = $('#busca').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
        "columnDefs": [
            {
                "targets": [ 2 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 3 ],
                "visible": false,
                "searchable": false
            }
        ],
        "language": {
          "lengthMenu": "Mostrar _MENU_ locais",
          search: "Pesquisar: ",
          "zeroRecords": "Nada encontrado!",
          "info": "Página _PAGE_ de _PAGES_",
          "infoEmpty": "Nenhum local disponível",
          "infoFiltered": "(_MAX_ locais filtrados)",
          "paginate": {
            "previous": "<<",
            "next": ">>"
          }
        }
      });
      var table_proximos = $('#proximos').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
        "columnDefs": [
            {
                "targets": [ 2 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 3 ],
                "visible": false,
                "searchable": false
            }
        ],
        "language": {
          "lengthMenu": "Mostrar _MENU_ locais",
          search: "Pesquisar: ",
          "zeroRecords": "Nada encontrado!",
          "info": "Página _PAGE_ de _PAGES_",
          "infoEmpty": "Nenhum local disponível",
          "infoFiltered": "(_MAX_ locais filtrados)",
          "paginate": {
            "previous": "<<",
            "next": ">>"
          }
        }
      });
      $('#lista').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
        "language": {
          "lengthMenu": "Mostrar _MENU_ locais",
          search: "Pesquisar: ",
          "zeroRecords": "Nada encontrado!",
          "info": "Página _PAGE_ de _PAGES_",
          "infoEmpty": "Nenhum local disponível",
          "infoFiltered": "(_MAX_ locais filtrados)",
          "paginate": {
            "previous": "<<",
            "next": ">>"
          }
        }
      });
    </script>
  </body>
</html>
